# Node.js
node_modules/
dist/
.env
.env.*.local
*.log

# Prisma
*.db
*.sqlite

# Flutter
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Android
android/.gradle/
android/.idea/
android/.settings/
android/local.properties
android/*.iml
android/captures/

# iOS & macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/Flutter/engine/
ios/Flutter/ephemeral/
ios/.generated/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/
ios/RunnerTests.xcodeproj/
ios/build/

macos/Pods/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/.symlinks/
macos/.generated/
macos/Runner.xcworkspace/
macos/build/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# Pycache
*__pycache__/
*.pyc
__pycache__/
*.py[cod]


# Misc
.DS_Store
.idea/
*.iml
*.swp
ml/venv/
ml/.env/
ml/__pycache__

#ML
ml/embedding/model_files/
ml/ml_services/embedding_service/model_files/
ml/src/generate_product_embeddings/model_files/
